#App {
  /* text-align: center; */
  position: relative;
  
}

#navBarUl{
  position: relative;
  left: 0px;
  bottom : 40px

}

li{
  display: inline-block;
  padding: 10px;
}

#screen1{
  width: 50%;
  margin: 0px auto;
  height: 300px;
  
  /* background-color:black */
}

ul{
  text-align: right;
}

#logo img{
height: 40px;
width: 100px;
}

#logo{
  position: relative;
  left: 0px;
  top: 4px
}

#screen1Heading{
  color: white;
  font-size: 45px;
  text-align: left;
  /* position: relative;
  left: -150px */
}

#mobImage{
  position: relative;
  text-align: right;
  bottom : 380px
  /* left: 430px;
  bottom: 340px */
}

#screen1Container {
  /* background-image: url('path/to/your/image.jpg'); */
  /* background-attachment: fixed; */

  background-size: cover; 
  background-position: center;
  width: 100%; 
  position: relative;
  height: 1000px ;


  width: 100%; /* Or set a specific width */
  height: 150vh; /* Or set a specific height */
  /* background-image: url('your-image-url.jpg'); */
  background-size: cover; /* or background-size: contain; */
  background-position: center center; /* You can adjust this if needed */
  background-repeat: no-repeat;
}

#screen1Content{
  position: relative;
  
  /* transform: translateX(50%); */
  transform: translateY(0%);
  /* background-color: blanchedalmond; */
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#screen2{
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);

  /* background-color: antiquewhite; */
}

#services{
  display: flex;
  justify-content: space-evenly;
  /* grid: auto auto / auto auto auto auto; */
 grid-gap: 10px;
}

#services div{
  height: 150px;
  width: 20%;
}

#services img{
  height: 130%;
  width: 130%;
}

#services img:hover{
  
    height: 135%;
  width: 135%;
  
}

#screen3{
  margin: 10px auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  grid-gap: 30px
}

#quickAnswers{
  /* background-color:antiquewhite; */
  /* border: 1px solid black; */
  height: 500px;
  width: 50%;
  position: relative;
  top: -30px;
  display: flex;
  flex-direction: column;
  left: 16px
  /* justify-content: space-around; */

}
#quickAnswers div{
  /* border: 1px solid black; */
  height: 33.3%;
  padding: 15px;
  word-spacing: 2px

}
#quickAnswers div:hover{
background-color: #EBF7FC;
}
#screen4 #div1{
  margin-left: 10%;
}

#quickAnswers h5{
  color: #68BAE3;
}

#screen4{
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly
}

#screen4 div{
  /* border: 1px solid black; */
  height: 400px;
}

#screen4 h2{
  color: #68BAE3;
  word-spacing: 4px;
  
}

#screen4 img{
  width: 330px;
  height: 250px;
}

#screen5{
  width: 70%;
  margin: 0px auto;
  display: flex;
  /* justify-content: space-evenly; */

}

#screen5 h1{
  color: #68BAE3;
}

#screen5 div{
  width: 50%;
}

#screen5 p{
  word-spacing: 4px;
  font-size: 20px;
  width: 70%;
  line-height: 20px;
  color: #868E95;
  margin-left: 20px;
 

}

#screen5Text{
  position: relative;
  left: 100px;
  top: 70px;
  display: inline-block;
}


#screen5Text img{
  display: block;
  margin-left: -70px;
  margin-top: -60px;
}

#screen5Text #onlyText{
  position: absolute;
  top: 20px;
  /* font-size: 35px; */

}

#screen6{
  margin: 10px auto;
  width: 45%;
}

#headingsScreen6{
  text-align: center;
}

#screen7{
  height: 300px;
  width: 100%;
  background-color: #F2F9FF;
  text-align: center;
  margin: 10px auto;
}

#footer{
  width: 100%;
  height: 300px;
  background-color: #F2F9FF;
  position: relative;
  bottom: -30;
}

#navBarUl li:hover{
  text-decoration: underline;
  cursor: pointer;
}
/* #wefreshMobileBig */

@media  (max-width : 410px){
  #weFreshWebNew1{
    display: none;
  }
  .wefreshMobileBig{
    display: none;
  }
  
}

@media (min-width : 411px) and (max-width : 490px){
  #weFreshWebNew1{
    display: none;
  }
  .wefreshMobile{
    display: none;
  }
}

@media (min-width : 491px){
  .wefreshMobile{
    display: none;
  }
  .wefreshMobileBig{
    display: none;
  }
}

.image-container {
  position: relative;
  /* Set width and height to match the image dimensions */
  height: 230px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 19px;
 
}

.menu{
  position: absolute;
  top: 20px;
  right:20px
}

.close{
  position: absolute;
  top: 24px;
  right:23px
}

.heading1{
  position: absolute;
  top: 45%;
  left: 15%;
  right: 15%;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 33px;

}

.inputs{
  position: absolute;
  top: 75%;
  left: 15%;
  right: 15%;
}

.logosBig{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* text-align: center; */
  /* left: 35px;
  right: 35px; */
}

.logos{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.drawMenu{
  width: 85%;
  position: relative;
  top: 10%;
  left: 7.5%;
  color: white;
  font-size: 25px;
}

.slider{
  width: 100%;
  margin-left: 20%;
}