

#App {
  /* text-align: center; */
  position: relative;
  
}

#navBarUl{
  position: relative;
  left: 0px;
  bottom : 40px

}

li{
  display: inline-block;
  padding: 10px;
}

#screen1{
  width: 50%;
  margin: 0px auto;
  height: 300px;
  
  /* background-color:black */
}

ul{
  text-align: right;
}

#logo img{
height: 40%;
width: 15%;
}

#logo{
  position: relative;
  left: 0px;
  top: 13px
}

#screen1Heading{
  color: white;
  font-size: 305%;
  text-align: left;
  /* position: relative;
  left: -150px */
}

#mobImage{
  position: relative;
  text-align: right;
  bottom : 380px
  /* left: 430px;
  bottom: 340px */
}

#screen1Container {


  background-size: cover; 
  background-position: center;
  width: 100%; 
  position: relative;
  height: 1000px ;


  width: 100%; /* Or set a specific width */
  height: 150vh; /* Or set a specific height */
  /* background-image: url('your-image-url.jpg'); */
  background-size: cover; /* or background-size: contain; */
  background-position: center center; /* You can adjust this if needed */
  background-repeat: no-repeat;
}

#screen1Content{
  position: relative;
  
  /* transform: translateX(50%); */
  transform: translateY(0%);
  /* background-color: blanchedalmond; */
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#screen2{
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);

  /* background-color: antiquewhite; */
}

#services{
  display: flex;
  justify-content: space-evenly;
  /* grid: auto auto / auto auto auto auto; */
 grid-gap: 10px;
}

#services div{
  height: 150px;
  width: 20%;
}

#services img{
  max-width: 120%;
  height: auto;
}

#services img:hover{
  max-width: 125%;
  height: auto;

  
}

#screen3{
  background-size: 44%;
  margin: 10px auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  grid-gap: 30px
}

#quickAnswers{
  width: 50%;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  left: 16px
  /* justify-content: space-around; */

}
#quickAnswers div{
  /* border: 1px solid black; */
  height: 30%;
  padding: 15px;
  word-spacing: 2px

}
#quickAnswers div:hover{
background-color: #EBF7FC;
}
#screen4 #div1{
  margin-left: 10%;
}

#quickAnswers h5{
  color: #68BAE3;
}

#screen4{
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly
}

#screen4 div{
  /* border: 1px solid black; */
  height: 400px;
}

#screen4 h2{
  color: #68BAE3;
  word-spacing: 4px;
  
}

#screen4 img{
  width: 330px;
  height: 250px;
}

#screen5{
  position: relative;
  width: 75%;
  right:5%;
  /* border: 1px solid black; */
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;

}



#screen5 #onlyText{
  position: absolute;
  /* width: 60%; */
  top:45%;
  left:50%;
  transform: translate(-50%,-50%);
  /* text-align: center; */
  margin: 10px auto;
}

#screen6{
  margin: 10px auto;
  width: 45%;
}

#headingsScreen6{
  text-align: center;
}

#screen7{
  height: 300px;
  width: 100%;
  background-color: #F2F9FF;
  text-align: center;
  margin: 10px auto;
}

#footer{
  width: 100%;
  height: 300px;
  background-color: #F2F9FF;
  position: relative;
  bottom: -30;
}

#navBarUl li:hover{
  text-decoration: underline;
  cursor: pointer;
}
/* #wefreshMobileBig */

@media  (max-width : 610px){
  #div6New{
    width: 90%;
    margin: 10px auto;
  }
  #back4New {
    width: 100%;
    position: relative;
    bottom: 290px;
  }
  #div5New {
    color: #68BAE3;
    position: relative;
    bottom: 600px;
    text-align: center;
    font-size: 30px;
  }
 
  #div4New {
    width: 90%;
    margin: 10px auto;
  }

  #div3New{
    position: relative;
    height: 550px;
    width: 70%;
    left: 13%;
   }

  #img2New {
    width: 90%;
    height: 100%;
  }

 #back2New {
    position: absolute;
    width: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  
 #div2New{
position: relative;
top: -150px;
text-align: center;
font-size: 26px;
color:#68BAE3 

}
 
  #div1New{
  position: relative;
  height: 550px;
  width: 70%;
  left:16%;
  top:-300px
 }
  #mob1New{
    width: 90%;
    height: 100%;
  }
  .inputs{
    position: absolute;
    top: 75%;
    left: 15%;
    right: 15%;
  }
  .heading1{
    position: absolute;
    top: 45%;
    left: 15%;
    right: 15%;
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 33px;
  
  }
  #weFreshWebNew1{
    display: none;
  }
  .wefreshMobileBig{
    display: none;
  }
  
}

#inputsNew{
  
  width: 90%;
  margin: 10px auto;
}



@media (min-width : 421px) and (max-width : 610px){


  #till420px{
  display: none;
}
#blackIphoneNew{
  width: 80%;
  height: 110%;
}

#normalIphoneNew{
  position: inherit;
  left:6%;
  width: 80%;
  height: 110%;
}
}
@media (max-width : 420px){
#after420px{
  display: none;
}
#blackIphoneNew{
  width: 100%;
  height: 100%;
}
#normalIphoneNew{
  width: 95%;
  height: 100%;
}
}





@media (min-width : 611px) and (max-width : 819px){
  #div6New{
    width: 60%;
    margin: 10px auto;
  }
  
  #back4New {
    width: 100%;
    position: relative;
    height: 700px;
    /* bottom: 190px; */
  }
  #div5New {
    color: #68BAE3;
    position: relative;
    bottom: 500px;
    text-align: center;
    font-size: 30px;
  }
    
 
  #img4New{
    width: 100%;
  }
  
  #div4New {
    width: 60%;
    margin: 10px auto;
  }
  
 
  #div3New{
  position: relative;
  height: 550px;
  width: 70%;
  left: 13%;
 }
 
  #img2New {
    width: 60%;
    height: 100%;
  }

 #back2New {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
 
 
  #div2New{
    position: relative;
    top: 90px;
    text-align: center;
    font-size: 26px;
    color:#68BAE3 
    
    }
  
  #div1New{
    position: relative;
    height: 550px;
    width: 70%;
    left:29%;
    top:-100px
   }
  
  #mob1New{
    width: 60%;
    height: 100%;
  }
  #mobBackNew{
    position: absolute;
    width: 95%;
    top: 80%;
    left:35%;
    transform: translate(-50%,-50%);
    z-index: -1;
  }
  .inputs{
    position: absolute;
    top: 115%;
    left: 15%;
    right: 15%;
  }
  
  #inputsNew{
    width: 70%;
    margin: 10px auto;
  }
  #weFreshWebNew1{
    display: none;
  }
  .wefreshMobile{
    display: none;
  }

  .heading1{
  position: absolute;
  top: 65%;
  left: 15%;
  right: 15%;
  text-align: center;
  color: white;
  font-size: 300%;
  line-height: 45px;

}
  

}
#newFindus{
  height:650px;
   width:80%;
    position:relative;
     left:20%
}

@media (min-width:420) and (max-width: 611){
  
}
@media (min-width : 491px) and (max-width : 1200px){


  #screen3{
    background-size: 58%;
  }
#newNav{
  width: 90%;
  position: relative;
  margin: auto;
}

}

#screen8Input{
  width: 40%;
  margin: 10px auto;
}

@media (min-width: 819px) and (max-width:1200px){

#screen3{
  background-size: 44%;
  margin: 10px auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  grid-gap: 30px
}



  
  #screen5div2Img{
    width: 370px;
  }
  #screen8Input{
    width: 52%;
    margin: 10px auto;
  }
  #screen6{
    margin: 10px auto;
    width: 65%;
  }
  
  #headingsScreen6{
    text-align: center;
  }
  #services img{
    max-width: 120%;
    height: auto;
  }
  #newFindus{
    height:650px;
     width:100%;
      position:"relative";
       left:5%
  }
  
  
  #services{
    display: flex;
    width: 150%;
    margin-left:-25%;
    justify-content: space-evenly;
    /* grid: auto auto / auto auto auto auto; */
   grid-gap: 1px;
   /* border: 1px solid black; */
  }
}
@media (min-width : 1201px){

  #newNav{
    position: relative;
    width: 60%;
    margin: auto;
  }
}


@media (min-width : 819px){
  .wefreshMobile{
    display: none;
  }
  .wefreshMobileBig{
    display: none;
  }
}

.image-container {
  position: relative;
  height: 230px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 19px;
 
}

.menu{
  position: absolute;
  top: 20px;
  right:20px
}

.close{
  position: absolute;
  top: 24px;
  right:23px
}





.logosBig{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 
}

.logos{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.drawMenu{
  width: 85%;
  position: relative;
  top: 10%;
  left: 7.5%;
  color: white;
  font-size: 25px;
}

.slider{
  width: 100%;
  margin-left: 20%;
}

